<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="msgConfiguration" type="Baosight.iSuperframe.MsgService.Configurations.Setting, Baosight.iSuperframe.MsgService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <msgConfiguration>
        <services>
            <clear />
            <add ConfFile="D:\iPlature\conf\icegrid.conf" Proxy="iPlature/APP_Crane_4_1"
                Type="::iPlature::APP_Crane_4_1" name="4_1" />
            <add ConfFile="D:\iPlature\conf\icegrid.conf" Proxy="iPlature/APP_Crane_4_2"
                Type="::iPlature::APP_Crane_4_2" name="4_2" />
            <add ConfFile="D:\iPlature\conf\icegrid.conf" Proxy="iPlature/APP_Crane_4_3"
                Type="::iPlature::APP_Crane_4_3" name="4_3" />
            <add ConfFile="D:\iPlature\conf\icegrid.conf" Proxy="iPlature/APP_Crane_4_4"
                Type="::iPlature::APP_Crane_4_4" name="4_4" />
            <add ConfFile="D:\iPlature\conf\icegrid.conf" Proxy="iPlature/APP_Crane_4_5"
                Type="::iPlature::APP_Crane_4_5" name="4_5" />
            <add ConfFile="D:\iPlature\conf\icegrid.conf" Proxy="iPlature/APP_Crane_7_0"
                Type="::iPlature::APP_Crane_7_0" name="7_0" />
            <add ConfFile="D:\iPlature\conf\icegrid.conf" Proxy="iPlature/APP_Crane_7_1"
                Type="::iPlature::APP_Crane_7_1" name="7_1" />
            <add ConfFile="D:\iPlature\conf\icegrid.conf" Proxy="iPlature/APP_Crane_7_2"
                Type="::iPlature::APP_Crane_7_2" name="7_2" />
            <add ConfFile="D:\iPlature\conf\icegrid.conf" Proxy="iPlature/APP_Crane_7_3"
                Type="::iPlature::APP_Crane_7_3" name="7_3" />
            <add ConfFile="D:\iPlature\conf\icegrid.conf" Proxy="iPlature/APP_Crane_7_4"
                Type="::iPlature::APP_Crane_7_4" name="7_4" />
            <add ConfFile="D:\iPlature\conf\icegrid.conf" Proxy="iPlature/APP_Crane_7_5"
                Type="::iPlature::APP_Crane_7_5" name="7_5" />
            <add ConfFile="D:\iPlature\conf\icegrid.conf" Proxy="iPlature/APP_Crane_7_6"
                Type="::iPlature::APP_Crane_7_6" name="7_6" />
            <add ConfFile="D:\iPlature\conf\icegrid.conf" Proxy="iPlature/APP_Crane_7_7"
                Type="::iPlature::APP_Crane_7_7" name="7_7" />
            <add ConfFile="D:\iPlature\conf\icegrid.conf" Proxy="iPlature/APP_Crane_7_8"
                Type="::iPlature::APP_Crane_7_8" name="7_8" />
            <add ConfFile="D:\iPlature\conf\icegrid.conf" Proxy="iPlature/APP_Crane_7_9"
                Type="::iPlature::APP_Crane_7_9" name="7_9" />
        </services>
    </msgConfiguration>
</configuration>